{% extends "MVT/heredado.html" %}

{% load static %}

{% block contenidoEspecifico %}

<h2>Listado de Estudiantes</h2>
{% if listarEstudiantes %}
<table cellspacing="0">
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Curso</th>
        <th>Camada</th>
    </tr>
    <tr>
        {% for f in listarEstudiantes %}
        <td>{{f.nombre}}</td>
        <td>{{f.apellido}}</td>
        <td>{{f.email}}</td>
        <td>{{f.curso}}</td>
        <td>{{f.camada}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h3>Sin información</h3>
{% endif %}

<br>
<a class="btn btn-primary" href="agregarEstudiantes">Agregar otro Estudiante</a>

{% endblock %}